{% extends 'MainBundle::layout.html.twig' %}


{% set hide_edit_div = '' %}
{% set edit_action = 0 %}
{% if schedule.id is defined %}
	{% set hide_edit_div = 'hide' %}
	{% set edit_action = 1 %}
{% endif %}

{% block title %}
{% if edit_action == 1 %}
	Edit Schedule | UCB Dandelion
{% else %}
	New Schedule | UCB Dandelion
{% endif %}

{% endblock %}

{% block modulestylesheets %}
<link href="{{ asset('bundles/main/css/schedule.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block modulejavascripts %}
<script src="{{ asset('bundles/main/js/schedule.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<section id="panel">
		<div class="panel schedule_form">
			<div class="panel-form-first-part">
				<a href="{{ path('logout') }}" id="logout" title="Logout">Log out</a>
				<h1 class="panel-title-form"><b>Remote Patient Education Organizer</b></h1>
			</div>
			<div class="panel-form-second-part"></div>
			<div class="visible-phone">
				<div class="margin-top-60px"></div>
			</div>
			{{ form_start(form) }}		
			<div class="form-group">
				<label>
					{% if edit_action == 1 %}
						Please indicate the new title of your presentation here:
					{% else %}
						Please indicate the title of your presentation here:
					{% endif %}
				</label>
				{{ form_errors(form.title) }}
				{{ form_widget(form.title,  {attr:{'class':'form-control'}}) }}
			</div>
			<div class="form-group">
				<label>
					{% if edit_action == 1 %}
						New Date and time when you would like to deliver this presentation?
					{% else %}
						Date and time when you would like to deliver this presentation?
					{% endif %}
				</label>
				{{ form_errors(form.scheduledatetime) }} 
				{{ form_errors(form) }}             
				<div class="input-group input-append date form_scheduledatetime" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
					{{ form_widget(form.scheduledatetime,  {attr:{'class':'form-control'}}) }}
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				</div>				
			</div>
			 <div class="form-group">
				<label>
					{% if edit_action == 1 %}
						Please indicate at what new phone number would you like the participant to call you:
					{% else %}
						Please indicate at what phone number would you like the participant to call you:
					{% endif %}
				</label>
				{{ form_errors(form.phone) }}
				{{ form_widget(form.phone,  {attr:{'class':'form-control'}}) }}
			</div>
			<div class="form-group {{ hide_edit_div }}">
				<label for="schedule_invite">Please provide the details of the person you would like to invite to this live session ?
				</label>					
			</div>
			<div class="form-horizontal {{ hide_edit_div }}">
				<div class="form-group">
					{% if form_errors(form.firstname) is not empty %}
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<div class="col-sm-12">
								{{ form_errors(form.firstname) }}
							</div>	
						</div>
					{% endif %}	
					<label for="lastname" class="col-sm-3 control-label">First name</label>
					<div class="col-sm-8">
						{{ form_widget(form.firstname, { attr: { 'class':'form-control' }}) }}
					</div>
				</div>
				<div class="form-group">
					{% if form_errors(form.lastname) is not empty %}
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<div class="col-sm-12">
								{{ form_errors(form.lastname) }}
							</div>	
						</div>
					{% endif %}	
					<label for="lastname" class="col-sm-3 control-label">Last name</label>
					<div class="col-sm-8">
						{{ form_widget(form.lastname,  {attr:{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="form-group">
					{% if form_errors(form.email) is not empty %}
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<div class="col-sm-12">
								{{ form_errors(form.email) }}
							</div>	
						</div>
					{% endif %}
					<label for="lastname" class="col-sm-3 control-label">Email </label>
					<div class="col-sm-8">
						{{ form_widget(form.email,  {attr:{'class':'form-control'}}) }}
					</div>
				</div>
				<div class="form-group hide">
					{{ form_widget(form.scheduleStatus) }}
				</div>
			</div>
			<div class="form-group {{ hide_edit_div }}">
				<label for="schedule_upload">To upload your PPT, please open the remote eDetailing platform by clicking <a href="{{ ucb_patient_action }}" title="eDetailing" target="_blank">here</a> and go to administrator/upload a documents</label>
			</div>
			<div class="row form-group">
				<div class="col-xs-12">

					{% set save_button_text = '' %}
					{% if edit_action == 1 %}
						{% set save_button_text = 'Save and Send Updates' %}
					{% else %}
						{% set save_button_text = 'Create and Send Invitation' %}
					{% endif %}

					{{ form_widget(form.submit,{'label':save_button_text,attr:{'formnovalidate':'formnovalidate','class':'btn btn-primary pull-right button-space','title':save_button_text}}) }}
					<a href="{{ path('remote_patient_option') }}" title="Cancel" type="button" class="btn btn-default pull-right">Cancel</a>
				</div>
			</div>
			{% if schedule is defined %}
				<script type="text/javascript">
					$(".form_scheduledatetime").datetimepicker({
						format: 'yyyy-mm-dd hh:ii',
						showMeridian: true,
						autoclose: true,
						todayBtn: true,
						endDate: '+1y',
						minuteStep: 30,
						todayHighlight: true,
						pickerPosition: "bottom-left"
					});
				</script>
			{% else %}      	
				<script type="text/javascript">
					$(".form_scheduledatetime").datetimepicker({
						format: 'yyyy-mm-dd hh:ii',
						showMeridian: true,
						autoclose: true,
						todayBtn: true,
						startDate: new Date(),
						endDate: '+1y',
						minuteStep: 30,
						todayHighlight: true,
						pickerPosition: "bottom-left"
					});
				</script>
			{% endif %}      	
			{% do form.scheduledatetime.setRendered %}
			{{ form_widget(form.owauuid,  {attr:{'value':app.user.uuid}}) }}
			{{ form_widget(form.owaonekeycode,  {attr:{'value':app.user.onekeycode}}) }}
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
