{% extends 'MainBundle::layout.html.twig' %}

{% block title %}
Manage Schedule | UCB Dandelion
{% endblock %}

{% block modulestylesheets %}
<link href="{{ asset('bundles/main/css/schedule.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block modulejavascripts %}
<script src="{{ asset('bundles/main/js/schedule.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<section id="panel">
		<div class="panel schedule_list_form">
			<div class="panel-form-first-part">
				<a href="{{ path('logout') }}" id="logout" title="Logout">Log out</a>
				<h1 class="panel-title-form"><b>Remote Patient Education Management</b></h1>
			</div>
			<div class="row schedule_list_first">
				<div class="col-xs-12">
					<b>Dr {{ app.user.getUsername() }}</b> - {{ "now" | date("Y/m/d h:i A") }}
				</div>
				<div class="col-xs-12"> 
					<b>Professional Phone:</b> {{ app.user.getProfessionalPhone() }}
				</div> 
				<div class="col-xs-12"> 
					<b>Email:</b> {{ app.user.getEmail() }}                   
				</div>
			</div>
			<div class="row button-group text-center">
				<a href="{{ ucb_patient_action }}" title="Go To Remote Presentation Platform" target="_blank">
					<button class="btn btn-primary button-text" type="button">Go To Remote Presentation Platform</button>
				</a>
			</div>
			<hr>
			<div class="panel-form-second-part">
				<h3><b>
					{% if action == 'upcoming' %}
						My upcoming Patient Education Sessions Manager
					{% elseif action == 'get' %}
						Patient Education Sessions Manager
					{% endif %}
				</b></h3>
			</div>
			<div class="scrollable-menu">
				{% for schedule in schedules %}
					<div class="row">
						<div class="col-xs-6 col-md-4">
							<span class="col-md-3 form-control input-sm input-box" title="{{ schedule.firstname }} {{ schedule.lastname }}">
								{{ schedule.firstname }} {{schedule.lastname|length > 5 ? schedule.lastname|slice(0, 5) ~ '...' : schedule.lastname }}
							</span>
							<span class="col-md-3 form-control input-sm" title="{{ schedule.title }}">
								{{schedule.title|length > 10 ? schedule.title|slice(0, 10) ~ '...' : schedule.title }}
							</span>
						</div>
						<div class="col-xs-6 col-md-3">
							<span class="col-md-3 form-control input-sm input-box" title="{{ schedule.phone }}">{{schedule.phone|length > 10 ? schedule.phone|slice(0, 10) ~ '..' : schedule.phone }}</span>
							<span class="col-md-3 form-control input-sm input-box" title="{{ schedule.email }}">{{schedule.email|length > 10 ? schedule.email|slice(0, 10) ~ '..' : schedule.email }}</span>
						</div>
						<div class="col-xs-6 col-md-4">
							<span class="col-md-6 form-control input-lg scheduledatetime-box">
								{% set status_color_text = '' %}
								{% if schedule.scheduleStatus.id == 1 %}
									{% set status_color_text = 'confirmed-schedule-color' %}
								{% elseif schedule.scheduleStatus.id == 2 %}
									{% set status_color_text = 'confirmed-edited-schedule-color' %}
								{% elseif schedule.scheduleStatus.id == 3 %}
									{% set status_color_text = 'cancelled-schedule-color' %}
								{% endif %}
								<div class="{{ status_color_text }}">{{schedule.scheduleStatus.name}}</div>
								<div class="">{{schedule.scheduledatetime|date("Y/m/d")}}</div>
								<div class="">{{schedule.scheduledatetime|date("h:i A")}}</div>
							</span>
	                    </div>
	                    {% if action == 'upcoming' %}
	                    	<a href="{{ path('schedule_status', {'action':'done','id':schedule.id}) }}" title='Cancel'>
								<button type="button" class="btn btn-danger btn-sm btn_initiate_schedule initiate-schedule" id="{{schedule.id}}" title='Initiate'>
									<img class='btn_initiate_schedule' alt='cancel' src='{{ asset('bundles/main/images/icon_remove.png') }}' /> 
								</button>
							</a>
	                    {% else %}                    
							<div class="col-xs-6 col-md-1">
								<a href="{{ path('schedule_edit', {'id':schedule.id}) }}" title='Edit'>
									<button type="button" class="btn btn-default btn-sm editschedule">
										<img alt='Edit' class='editschedule' src='{{ asset('bundles/main/images/icon_pen.png') }}'/> 
									</button>
								</a>
								{% if schedule.scheduleStatus.id == 3 %}
									<button type="button" class="btn btn-danger btn-sm btn_cancel_schedule" id="{{schedule.id}}" title='Cancel' onclick="cancelSchedule('{{ schedule.id }}')">
										<img class='btn_cancel_schedule' alt='cancel' src='{{ asset('bundles/main/images/icon_remove.png') }}' /> 
									</button>
								{% else %}
									<a href="{{ path('schedule_confirm_cancel', {'id':schedule.id}) }}" title='Cancel'>
										<button type="button" class="btn btn-danger btn-sm btn_cancel_schedule" id="{{schedule.id}}" title='Cancel'>
											<img class='btn_cancel_schedule' alt='cancel' src='{{ asset('bundles/main/images/icon_remove.png') }}' /> 
										</button>
									</a>
								{% endif %}
							</div>
						{% endif %}	
					</div>
					<input type="hidden" name="schedule_status_{{ schedule.id }}" id="schedule_status_{{ schedule.id }}" value="">
				{% else %}
					 <div class="row">               
						<div class="col-xs-12">No Schedule Found</div>
					 </div>
				{% endfor %}
			</div>
			<div class="row button-group padding-top-10px">
				<div class="col-xs-12 text-right">
					<a href="{{ path('remote_patient_option') }}" title="Back" type="button" class="btn btn-default">Back</a>
				</div>	
			</div>
		</div>
	</section>
{% endblock %}
   
