<!DOCTYPE html PUBLIC "-//W4C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>UpComing Patient Education Session - {{ title }}</title>
    <style type="text/css">
        /* EMBEDDED CSS
        Android Mail doesn't support "class" declarations outside of a media query so use inline CSS as a rule.
        More info: Http://www.emailonacid.com/blog/the_android_mail_app_and_css_class_declarations/ */
        .footer { color: rgb(168,168,168)!important; font-size: 8pt;}

        /****** EMAIL CLIENT BUG FIXES - BEST NOT TO CHANGE THESE ********/
        /* Forces Hotmail to display emails at full width. */
        .ExternalClass {width:100%;}
        /* Forces Hotmail to display normal line spacing. */
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        /* Prevents Webkit and Windows Mobile platforms from changing default font sizes. */
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        /* Resets all body margins and padding to "0" for good measure. */
        body {margin:0; padding:0;}
        /* Resolves webkit padding issue. */
        table {border-spacing:0; border:0;}
        /* Resolves the Outlook 2007, 2010, and Gmail td padding issue. */
        table td {border-collapse:collapse; border:0; width: 65px;}
        table tr {height: 35px; border:0;}
        /****** END BUG FIXES ********/
        /****** RESETTING DEFAULTS, IT IS BEST TO OVERWRITE THESE STYLES INLINE ********/

        /* This sets a clean slate for all clients EXCEPT Gmail.
        From there it forces you to do all of your spacing inline during the development process.
        Be sure to stick to margins because paragraph padding is not supported by Outlook 2007/2010.
        Remember: Hotmail does not support "margin" nor the "margin-top" properties.
        Stick to "margin-bottom", "margin-left", "margin-right" in order to control spacing.
        It also wise to set the inline top-margin to "0" for consistancy in Gmail for every inline instance
        of a paragraph tag. */
        p {margin:0; padding:0; margin-bottom:0;}

        /* This CSS will overwrite Hotmails default CSS and make your headings appear consistant with Gmail.
        From there, you can override with inline CSS if needed. */
        h1, h2, h3, h4, h5, h6 {color:#333333; line-height:100%;}
        h2 {font-size:18px; padding:45px 0 0 0;}
        p {font-size:14px; color:#333333;}
        a{color:#1d4e99;}
        a:visited{color:#1d4e99}
        a:hover{color:#1d4e99}


        /****** END RESETTING DEFAULTS ********/

        /* Target mobile devices. */
        /* @media only screen and (max-device-width: 639px) { */
        @media only screen and (max-width: 639px) {
            /* Hide elements at smaller screen sizes (!important needed to override inline CSS). */
            body[yahoo] .hide {display:none !important;}
            /* Adjust table widths at smaller screen sizes. */
            body[yahoo] .table {width:600px !important;}
            body[yahoo] .header-left{width:600px !important; font-size: 14px !important;}
            body[yahoo] .header-right{width:600px !important; font-size: 14px !important;}
            /* Resize image at smaller screen sizes. */
            body[yahoo] .visu_principal{width: 600px !important;height: 528px !important;}
            body[yahoo] .resiseheader{width: 600px !important;height: 4px !important;}
            /* textes and center. */
            body[yahoo] .baseline{font-size: 14px !important;}
            body[yahoo] .mentions{font-size: 10px !important;}
            body[yahoo] .marge_tableau{ margin:20px 16px 0px 16px !important;}

    </style>
</head>
<body style=" color:#0070c0; background-color:#f0f0f0 !important; font-family:Helvetica,sans-serif; font-size:12pt; line-height:1.2; text-align: justify; padding-top:45px; padding-bottom:45px;" alink="#333333" link="#333333" bgcolor="#E2E2E2" text="#333333" yahoo="fix">
<!--//8 colonnes et 8 lignes-->
<div id="body_style" style="width:100%;height:100%;padding:0;margin:0;">

    <table width="600"  class="table" style="margin:auto;">
        <tr><td>
                <p style="text-align:right;"><img src="{{ app.request.uriForPath('/bundles/main/mail/logo.jpg') }}"></p>
            </td></tr>
    </table>

    <table width="600" class="table" style="margin:auto; background:#FFFFFF; border:1px solid #bebebe; -moz-border-radius:5px; border-radius:5px;">

        <!--entete -->
        <tr  style=" font-family:Helvetica,sans-serif; font-size:12pt; line-height:1.2; text-align: left;  alink="#333333" link="#333333" bgcolor="#1c4f9e" text="#FFFFFF" yahoo="fix">
        <td colspan="8" style="color:#FFFFFF !important; padding:10px 0 0 20px; text-align: left !important;">
            <p style="color:#FFFFFF !important;" yahoo="fix">
                UpComing Patient Education Session - {{ title }}
            </p>
        </td>
        </tr>
        <tr  style=" color:#0070c0; font-family:Helvetica,sans-serif; font-size:12pt; line-height:1.2; text-align: left; background-image: url('{{ app.request.uriForPath('/bundles/main/mail/bg-newsletter-part1.jpg') }}'); background-repeat:no-repeat;" alink="#333333" link="#333333"  text="#333333" yahoo="fix"> <td colspan="8" height="64"></td></tr>

        <tr  style=" color:#0070c0; font-family:Helvetica,sans-serif; font-size:12pt; line-height:1.2; text-align: left; background-image: url('{{ app.request.uriForPath('/bundles/main/mail/bg-newsletter-part2.jpg') }}'); background-repeat:no-repeat; padding:0 0 0 0; " alink="#333333" link="#333333"  text="#333333" yahoo="fix">
        </tr>
        <!--entete -->
        <tr></tr>

        <tr>
            <td colspan="8">
                <p  style="padding:0 20px; line-height:1.4;"><br />
                    Dear Dr. {{ hcp_firstname|capitalize }} {{ hcp_name|capitalize }},
                </p>

                <p  style="padding:0 20px; line-height:1.4;"><br />
                   This is to confirm that you have invited {{ firstname }} {{ lastname }} to a remote presentation you will be delivering on {{ date }} at {{ time }}. 
                        {% if hcp_phone is not empty %}
                            The phone number you have provided was {{ hcp_phone }}.
                        {% else %}
                            you have not provided a phone number.
                        {% endif %}
                        If any of the above details need to be changed or corrected, please feel free to go to the <a href="{{ url('schedule_list', { 'action':'get' }) }}" target="_blank">I need to manage the patient education sessions I have scheduled</a> section of your Dandelion portal. Any changes or alterations you might make there (including cancellation, if so needed) would instantly result in the necessary email updates to {{ firstname }} {{ lastname }}.
                </p>

                <p  style="padding:0 20px; line-height:1.4;"><br />
                   At the date and time of the scheduled meeting, please log back in to <a href="{{ idetailling_hcp_url }}" target="_blank">Dandelion</a> and click the ‘I am hosting a 1:1 patient education session now’ button. You will directly be led to the remote presentation platform where the slide deck you have supplied will be waiting for you under the ‘My Documents’ folder. If you need instructions how to best use the remote presentation platform, <a href="{{ idetailling_hcp_url }}" target="_blank">here</a> is a link to a step-by-step quick starter guide that you can refer to at all time.
                </p>

                <p  style="padding:0 20px; line-height:1.4;"><br />
                   When on the phone with your patient for the presentation, please instruct them to click the link that is embedded in the invitation email they have received from Dandelion or simply ask them to enter the following URL in the address bar of their preferred web browser and hit return : <a href="{{ idetailling_hcp_url }}" target="_blank">{{ idetailling_hcp_url }}</a>. Then ask them to click the ‘Participant’ button, state their name in the name field and enter the session access code that you will be able to read them from the upper left section of the platform.
                </p>

                <p  style="padding:0 20px; line-height:1.4;"><br />
                    We hope you have a great presentation and wish you a very good rest of your day.
                </p>

                <p style="padding:0 20px; line-height:1.4;"><br />
                    The Dandelion team
            </td>
        </tr>
        <!--end showcase-->

        <!-- titre partie 1 -->
        <!-- text partie 1 -->
        <tr>
            <td colspan="8">
                <p></p>
            </td>
        </tr>
        <!-- end partie 1 -->


    </table>

</div>
</body>
</html>
